body{
    display: flex;
    flex-direction: column;
    flex: 1;
    margin: 0;
    background-color: #1f2937;
}

header{
    height: 400px;
}

nav{
    height: 50px;
    border: 2px solid orange;
}

.section1{
    height: 400px;
    background-color: white;
}

.section2{
    height: 400px;
    background-color: #e5e7eb;
}

.section3{
    height: 300px;
    background-color: white;
}

footer{
    height: 100px;
}